@charset "UTF-8";
/* CSS Document */
body {
	margin:0;
}
@font-face {
	font-family:Trajan Pro;
	src:url(fonts/trajan_pro/TrajanPro-Regular.ttf);
}
@font-face {
	font-family:Helvetica Neue Light;
	src:url(fonts/helvetica_neue/HelveticaNeue-Light.ttf);
}
@font-face {
	font-family:BankGothicBT Light;
	src:url(fonts/BankGothicBT_Light/BankGothicBT_Light.ttf),
	    url(fonts/BankGothicBT_Light/BankGothicBT_Light.woff),
		url(fonts/BankGothicBT_Light/BankGothicBT_Light.svg);
}
#contenedor {
	position:relative;
	width:100%;
	height:auto;
	margin:auto;
}
.info {
	margin:0 20px;
}
h1 {
	font-family:'Trajan Pro';
}
p {
	font-family:'Helvetica Neue Light';
	color:rgba(0,0,0,0.80);
}
p.doce {
	font-size:0.75em;
}
p.trece {
	font-size:0.812em;
}
.catorce {
	font-size:0.875em;
}
p.dieciocho {
	font-size:1.125em;
}
a.mainmenu {
	font-size:1.125em;
	text-decoration:none;
    color:rgba(166,164,162,1.00);
}
/* mouse over link */
a.mainmenu:hover {
    color:rgba(105,104,105,1.00);
	text-decoration:none;
}
/* selected link */
a.mainmenu:active {
    color:rgba(114,137,203,1.00);
}
a.enlaces {
	text-decoration:none;
    color:rgba(0,0,0,0.80);
}
/* mouse over link */
a.enlaces:hover {
    color:rgba(105,104,105,1.00);
	text-decoration:underline;
}
/* selected link */
a.enlaces:active {
    color:rgba(114,137,203,1.00);
}
a.emba {
    color:rgba(0,0,0,1.00);
	text-decoration:none;
}
/* mouse over link */
a.emba:hover {
    color:rgba(54,102,200,1.00);
	text-decoration:underline;
}
/* selected link */
a.emba:active {
    color:rgba(114,137,203,1.00);
}
li {
	font-family:'Helvetica Neue Light';
	color:rgba(0,0,0,0.80);
}
.px {
	height:300px;
	min-height:300px;
	background:transparent;
	position:relative;
	overflow:hidden;
}
#descanso3 {
	background:rgba(0,0,0,1.00) url(aam1.png) 0% 0 no-repeat fixed;
	min-height: 367px;
	margin: 0 auto;
	width: 100%;
	max-width: 1280px;
	min-width:1280px;
	position: relative;
	-webkit-box-shadow: 0 0 20px rgba(0,0,0,0.4);
	box-shadow: 0 0 20px rgba(0,0,0,0.4);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Contador de la proxima transmisión */


#livestream {
	overflow:hidden;
}

/*En pantallas grandes*/

@media screen and (min-width: 740px) {
	#livestream #livestream-bar {
		width: 100%;
		height: 36px;
	}

	#countdown-bar {
		background: rgba(203, 203, 203, 1.0);
		width: 100%;
		height: 20px;
		padding: 8px 20px;
	}

	.elements {
		display: inline-block;
		margin-left: 2%;
	}

	#countdown-bar #transmition {
		width: 173.19px;
	}

	#countdown-bar #aa {
		width: 33px;
	}

	#countdown-bar #counter {
		width: 259.8px;
	}

	#countdown-bar #youtube {
		width: 47.8px;
	}

	#countdown-bar #livestreamicon {
		width: 110.39px;
	}

	.elements p {
		margin: 0;
	}

	#countdown-bar2{
		display: none;
	}
}
/* Menú */

#menu img {
	width: 199px;
	height: 120px;
}

/* En pantallas grandes */
@media screen and (min-width: 970px) {

	#logo {
		float: left;
		text-align: left;
		width: 15%;
		margin-left: 5%;
	}

	#menu #nav-bar {
		float: right;
		text-align: right;
		width: 70%;
		margin-top: 60px;
		margin-right: 3%;
	}

	#menu .nav {
		float: right;
		margin: 0px 20px 0 20px;
	}

	#menu select {
		display: none;
	}

	#main-menu {
		width:100%;
		height:140px
	}

	/*quitar la imagen de armando cuando no es responsivo*/
	#armando-image {
		display: none;
	}
}

/* Social networks */

#social-network-bar {
	width: 100%;
	height: 36px;
}

/* Bienvenido */

#welcome {
	overflow: hidden;
}

#welcome #welcome-frame{
	width:100%;
	height:350px;
}

#welcome-div {
	width:100%;
	height:350px;
	margin-bottom:20px;
	position:relative;
}

#welcome-div #logo-welcome{
	position:absolute;
	left:10%;
	top:50px;
	width: 80%;
	height: 80%;
}

#allwelcome {
	width:100%;
	height:350px;
	margin:0;
}

#welcome-text {
	font-size:44px;
	color:rgba(255,255,255,0.50);
	text-align:left;
	margin:0;
	position:absolute;
	left:5%;
	top:130px;
}

/* Eventos */

#events {
	background:rgba(203,203,203,1.00);
	padding:10px;
}

#events h1{
	font-size:20px;
	margin:0;
	color:rgba(105,104,105,1.00);
}

#myRotator {
	margin-bottom:10px;
	width:1280px;
	height:350px;
}

/*APP*/

#app {
	height:250px;
}

/*Footer*/

#footer {
	overflow:hidden;
}
